footer{
    height: 12rem;
    padding-top: 2rem;
    border-style: solid;
    border-radius: 1rem;
    border-color: #F5CBA7;
    color:black;
    text-align: center;
    background-image:url(../multimedia/fondoColorBlanco.jpg);
    background-size: 100%;
}

.h3footer {
    font-family: 'Peddana', serif;
    font-size: 2.8rem;
    letter-spacing: 0.05rem;
    line-height: 0px;
    color: #FDEBD0;
}

.logosRedes{
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    border-style:solid;
    position: sticky;
    z-index: 100;
}