header{
    text-align: center;
    height: 20rem;
    background-size: 100%;
    border-radius: 1rem;
    background-image:url(../multimedia/fondoHuevos.jpg)
    }

    
.logoHeader{
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    border: 0rem;
}